// fontes do projeto

$font-Principal:Roboto, sans-serif;



//cores do projeto
$corBody:#f5f6fa;
$corHeader:#182C61;
$menuFontes:#fff;
$buttonColor:#42a133;
$colorWhite:#fff;
$colorHover:#4cd137;

//Breakpoints

$mobile:767px;

$tablet:1023px;
